{% extends 'base.html' %}

{% block title %}Movie List{% endblock %}
{% block content %}


    <h4>Movie List</h4>
    <form method="GET" action="{% url 'movie_list' %}">
    {{ form.as_p }}
    <input type="submit" value="Submit" class="btn btn-primary" />
    <a href="{% url 'movie_list' %}" class="btn btn-secondary">Clear Filters</a>
    </form>


    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Director</th>
                <th>Actors</th>
                <th>Platform</th>
                <th>Genres</th>
                <th>Average Rating</th>
                <th>Poster</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.director }}</td>
                    <td>
                        {% for actor in movie.actors.all %}
                            {{ actor.first_name }} {{ actor.last_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ movie.platform.name }}<br>
                        <img src="{{ movie.platform.logo.url }}" width="50" height="50"><br>
                        <a href="{{ movie.platform.website_link }}" target="_blank">Visit Platform</a>
                    </td>
                <td>
                    {% for genre in movie.genres.all %}
                        {{ genre.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                    <td>{{ movie.rating_avg|floatformat:"1"|default:"N/A" }}</td>
                    <td>
                        <a href="{% url 'movie_detail' movie.id %}">
                            <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" width="100">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
